body {
    background-color: #121212;
    display: grid;
    justify-items: center;
    height: 100vh;
    overflow: hidden;
}

#mainframe {
    background-color: #2b2b2b;
    width: 60%;
    height: 70%;
    border-radius: 12px;
    margin-top: 1%;
    position: relative;
}

#mainframe h1{
    font-family: Montserrat;
    display: inline-block;
    color: white;
}