<!DOCTYPE html>
<html>
  <head>
    <title>Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="icon" sizes="40x40" href="https://cdn.discordapp.com/avatars/584748051814547487/27c3b688cdab941f03a3c521165aad5e.png?size=80">
    <link rel="stylesheet" href="template.css">
    <script src="template.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2270959655192779" crossorigin="anonymous"></script>


    <meta name="og:site_name" content="Tuinboon's site">
    <meta name="og:type" content="object">
    <meta name="og:image" content="https://cdn.discordapp.com/avatars/584748051814547487/27c3b688cdab941f03a3c521165aad5e.png?size=1280">
    <meta name="og:title" content="Home">
    <meta name="og:url" content="https://tuinboondev.github.com">
    <meta name="theme-color" content="#fcce14">
    <meta name="og:description" content="Tuinboon's website">

  </head>
  <body>
    <div id="mainframe">
    </div>
  </body>
</html>
